<mat-card-header>
  <mat-toolbar class="toolbar">
    <h1>Create new list</h1>
  </mat-toolbar>
</mat-card-header>
<mat-card-content>
  <form [formGroup]="listForm" (submit)="onSubmit()" class="normal-form">
    <input type="hidden" formControlName="$key">
    <mat-form-field class="modal-input">
      <mat-label>List name</mat-label>
      <input matInput placeholder="New list" formControlName="Name">
    </mat-form-field>
    <div class="btn">
      <button mat-raised-button color="primary" id="create">Create</button>
      <button mat-raised-button color="warn" (click)="onNoClick()">Cancel</button>
    </div>
  </form>
</mat-card-content>


