
.normal-form{
  margin-top: 20px;
  width: 100%;

}

.modal-input{
  font-size: 20px;
  width: 100%;
}

.toolbar{
  width: 40vw;
  cursor: default;
}

h1{
 margin: auto;
}

.btn{
  display: flex;
  justify-content: right;
}

#create{
  margin-right: 20px;
}
