#black-screen {
  position: absolute;
  height: 100vh;
  width: 100vw;
  display: none;
  align-items: center;
  justify-content: center;
  background: black;
  z-index: 1000;
}

#black-screen > mat-icon {
  color: white;
  height: 16vmin;
  width: 16vmin;
  font-size: 15vmin;
  text-align: center;
}

#toolbar-top {
  background: white;
  box-shadow: 0 0 10px black;
}

#toolbar-bottom {
  display: none;
  position: absolute;
  bottom: 0;
  background: white;
  justify-content: center;
}

#main {
  height: 100%;
  overflow: hidden;
  background: linear-gradient(300deg, rgba(238,174,202,0.8) 0%, rgba(148,187,233,0.8) 100%);;
}

.example-container {
  height: 92vh;
}

.datepicker {
  width: 42%;
  margin: 0 4%;
}

.options-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.list-icon {
  margin: 0 5%;
}

.list-item {
  margin: 0 auto;
}

mat-card {
  margin: 2vw;
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  min-width: 200px;
  width: 15vw;
}

.values-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.option-container {
  width: 32%;
}

.option-title {
  font-size: 4vmin;
  line-height: 5vmin;
  text-align: center;
}

.option-value {
  font-size: 5.5vmin;
  font-weight: bolder;
  line-height: 7vmin;
  text-align: center;
}

#trends {
  height: 40vmin;
}

@media screen and (max-width: 420px) and (orientation: portrait) {
  #toolbar-bottom {
    display: flex;
    z-index: 5;
  }

  #btn-menu {
    display: none;
  }
}

@media screen and (max-width: 850px) and (orientation: landscape) {
  #black-screen {
    display: flex;
  }
}
