mat-toolbar {
  display: inline-block;
  background-color: #27c637;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.12),0 1px 5px 0 rgba(0,0,0,.2);
  line-height: 64px;
  height: 64px;
  width: 100%;

}

#button-menu {
  display: none;
  color: #fff;
}

.logo{
  display: inline-block;
  line-height: 64px;
  left: 40px;
  color: #fff;
  font-size: 2.1rem;
  padding: 0;
}

.log-menu{
  margin-right: 1rem;
  float: right;
}

i{
  margin-right: 15px;
  opacity: 0.5;
}

.drawer {
  //we use position: fixed to height: 100%; another variant without
  //position, height: 93 vh;
  margin-top: 64px;
  position: fixed;
  height: 100%;
  width: 15vw;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.12),0 1px 5px 0 rgba(0,0,0,.2);

}

.drawer-container{
  position: relative;
  display: block;
  height: 93vh;
  overflow: auto;
  background: #f0f9ef;

}



// Large devices (desktops, 992px and up)
@media (min-width: 769px) and (max-width: 1220px) {
  #button-menu {
    display: inline-block;
  }
  .drawer {
    width: 120px;
  }
}

// Small devices (landscape phones, 576px and up)
@media (orientation: portrait) and (max-width: 576px) {
  #button-menu {
    display: inline-block;
  }
  .drawer {
    width: 50vw;
  }
  .logo{
    left: 130px;
  }
}

