<mat-toolbar>
  <button id="button-menu"
          type="button"
          aria-label="Toggle drawer"
          mat-icon-button
          mat-button (click)="drawer.toggle()">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
  <a mat-button routerLink="/shopping-lists" class="logo">
    Shopinoc
  </a>
  <div class="log-menu">
    <a mat-raised-button color="primary" (click)="openDialog()">Sign in</a>
  </div>
  <!--<button mat-button [mat-menu-trigger-for]="menu" >My account</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon>account_box</mat-icon>
      Profile</button>
    <button mat-menu-item>
      <mat-icon>exit_to_app</mat-icon>
      Logout</button>
  </mat-menu>-->
</mat-toolbar>
<mat-drawer-container class="drawer-container">
  <mat-drawer #drawer class="drawer"
              [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
              [mode]="(isHandset$ | async) ? 'over' : 'side'"
              [opened]="(isHandset$ | async) === false">
    <mat-nav-list>
      <a mat-list-item routerLink="/shopping-lists">
        <i class="material-icons">
          library_books
        </i>
        Shopping lists</a>
      <a mat-list-item routerLink="/trash">
        <i class="material-icons">
          delete
        </i>
        Trash</a>
      <a mat-list-item routerLink="/publish-task">
        <i class="material-icons">
          settings
        </i>
        Settings</a>
      <a mat-list-item routerLink="/registration">
        <i class="material-icons">
          help
        </i>
        Help</a>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content class="drawer-container">
    <ng-content></ng-content>
  </mat-drawer-content>
</mat-drawer-container>
