<div id="container">
  <div class="header">
    <h1>
      Welcome to <strong>MoneyManager</strong>!
    </h1>
    <h2 class="subtitle">
      With MoneyManager you can track your cash payments
    </h2>
  </div>
  <mat-card class="login-form">
    <mat-tab-group mat-align-tabs="center">
      <mat-tab label="Login" >
        <div class="tab">
          <div class="login-header">
            <h1>Log in to MoneyManager</h1>
          </div>
          <div class="login-section">
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
              <div class="login-field">
                <mat-form-field appearance="legacy" class="login-field">
                  <mat-label for="username">Login</mat-label>
                  <input matInput
                         required
                         type="text"
                         formControlName="username"
                         class="form-control"
                         [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                  <mat-error *ngIf="loginForm.controls.username.hasError('required')">
                    Please write an username
                  </mat-error>
                  <!--<div *ngIf="submitted && f.username.errors" >
                    <div *ngIf="f.username.errors.required">Username is required</div>
                  </div>-->
                </mat-form-field>
              </div>
              <div>
                <mat-form-field appearance="legacy" class="login-field">
                  <mat-label for="password">Password</mat-label>
                  <input matInput
                         required
                         type="password"
                         formControlName="password"
                         class="form-control"
                         [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                  <mat-error *ngIf="loginForm.controls.password.hasError('required')">
                    Please write an password
                  </mat-error>
                  <!--<div *ngIf="submitted && f.password.errors" >
                    <div *ngIf="f.password.errors.required">Password is required</div>
                  </div>-->
                </mat-form-field>
              </div>
              <button mat-raised-button
                      [disabled]="loginForm.invalid"
                      class="btn-login">
                <span *ngIf="loading"></span>
                Log in
              </button>
              <div *ngIf="error">{{error}}</div>
            </form>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Sign up">
        <div class="tab">
          <div class="login-header">
            <h1>Sign up to MoneyManager</h1>
          </div>
          <div class="login-section">
            <form [formGroup]="signUpForm">
              <div class="login-field">
                <mat-form-field appearance="legacy" class="login-field">
                  <mat-label for="username">Login</mat-label>
                  <input matInput
                         required
                         type="text"
                         formControlName="username"
                         class="form-control"
                         [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                  <mat-error *ngIf="signUpForm.controls.username.hasError('required')">
                    Please write an username
                  </mat-error>
                  <!--<div *ngIf="submitted && f.username.errors" >
                    <div *ngIf="f.username.errors.required">Username is required</div>
                  </div>-->
                </mat-form-field>
              </div>
              <div>
                <mat-form-field appearance="legacy" class="login-field">
                  <mat-label for="password">Password</mat-label>
                  <input matInput
                         required
                         type="password"
                         formControlName="password"
                         class="form-control"
                         [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                  <mat-error *ngIf="signUpForm.controls.password.hasError('required')">
                    Please write an password
                  </mat-error>
                  <!--<div *ngIf="submitted && f.password.errors" >
                    <div *ngIf="f.password.errors.required">Password is required</div>
                  </div>-->
                </mat-form-field>
                <mat-form-field appearance="legacy" class="login-field">
                  <mat-label for="firstName">First Name</mat-label>
                  <input matInput
                         required
                         type="text"
                         formControlName="firstName"
                         class="form-control"
                         [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                  <mat-error *ngIf="signUpForm.controls.firstName.hasError('required')">
                    Please write an first name
                  </mat-error>
                  <!--<div *ngIf="submitted && f.password.errors" >
                    <div *ngIf="f.password.errors.required">Password is required</div>
                  </div>-->
                </mat-form-field>
                <mat-form-field appearance="legacy" class="login-field">
                  <mat-label for="lastName">Last Name</mat-label>
                  <input matInput
                         required
                         type="text"
                         formControlName="lastName"
                         class="form-control"
                         [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                  <mat-error *ngIf="signUpForm.controls.lastName.hasError('required')">
                    Please write an last name
                  </mat-error>
                  <!--<div *ngIf="submitted && f.password.errors" >
                    <div *ngIf="f.password.errors.required">Password is required</div>
                  </div>-->
                </mat-form-field>
              </div>
              <button mat-raised-button
                      class="btn-login"
                      [disabled]="signUpForm.invalid"
                      (click)="onSubmitSignUp()">
                Sign up
              </button>
              <div *ngIf="error">{{error}}</div>
            </form>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>
