#container{
  padding-top: 40px;
}

mat-label{
  font-size: 1.8vmin;
  color: #7b93a4;
}

.login-form{
  box-shadow: 0 4px 8px 0 rgba(48, 82, 120, .08);
  max-width: 560px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  color: #7b93a4;
}

.tab{
  margin: 15px 0;
}

.login-header{
  margin: auto;
  text-align: center;
  color: #324c5b;
}

.login-section{
  width: 50%;
  margin: auto;
}

.login-field{
  width: 100%;
  color: #7b93a4;
}

.btn-login{
  margin-top: 10px;
  background-color: #12c48b;
  color: #fff;
  box-shadow: 0 4px 4px 0 rgba(17, 195, 139, .2);
  width: 100%;
}
