.container{
  width: 45vmin;
  cursor: default;
  user-select: none;
}
.transaction-title{
  font-weight: 600;
  font-size: 3vmin;
  color: #324c5b;
}

.transaction-form{
  padding-top: 1vmin;
  width: 100%;
  margin: auto;
}

.transaction-header-fields{
  display: flex;
  justify-content: space-between;
}

.transaction-field{
  width: 100%;
  margin-bottom: 10px;
}
.transaction-select-field{
  width: 45%;
}
.transaction-input-field{
  font-size: 1.8vmin;
  color: #7b93a4;
}

.transaction-field-label{
  font-size: 1.8vmin;
  color: #7b93a4;
}

#input-amount{
  font-weight: 500;
}

#description-field{
  height: 10vmin;
}


.btn-container{
  float: right;
}

.btn-add{
  background-color: #12c48b;
  color: #fff;
  box-shadow: 0 4px 4px 0 rgba(17, 195, 139, .2);
  margin: 3px;
}

.btn-cancel{
  background-color: #f15e5e;
  color: #fff;
  box-shadow: 0 4px 4px 0 rgba(181, 0, 19, 0.2);
  margin: 3px;
}
