<div class="overview">
  <div class="overview-content">
    <mat-card class="overview-card">
      <mat-card-content class="card-content">
        <span class="material-icons icon">
          account_balance_wallet
        </span>
        <p>
          Add your payment wallets
        </p>
      </mat-card-content>
    </mat-card>
    <div class="icon-container">
      <span class="material-icons icon-arrow">
      navigate_next
      </span>
    </div>
    <mat-card class="overview-card">
      <mat-card-content class="card-content">
        <span class="material-icons icon">
          attach_money
        </span>
        <span class="material-icons icon">
          sync_alt
        </span>
        <span class="material-icons icon">
          money_off
        </span>
        <p>
          Create transactions to keep track of your money
        </p>
      </mat-card-content>
    </mat-card>
    <div class="icon-container">
      <span class="material-icons icon-arrow">
      navigate_next
      </span>
    </div>
    <mat-card class="overview-card">
      <mat-card-content class="card-content">
        <span class="material-icons icon">
          assessment
        </span>
        <p>
          Analyze your income and expenses and manage your finances properly
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
