
<div class="overview">
  <h2>Overview</h2>
  <div class="overview-content">
    <mat-card class="overview-card">
      <mat-card-header>
        <img mat-card-image src="" alt="img">
      </mat-card-header>
      <mat-card-content class="card-content">
        <p>
          Add Wallets
        </p>
      </mat-card-content>
    </mat-card>
    <div class="icon-container">
      <span class="material-icons icon-arrow">
    navigate_next
    </span>
    </div>
    <mat-card class="overview-card">
      <mat-card-header>
        <img mat-card-image src="" alt="img">
      </mat-card-header>
      <mat-card-content class="card-content">
        <p>
          Create transactions to keep track of your money
        </p>
      </mat-card-content>
    </mat-card>
    <span class="material-icons">
    navigate_next
    </span>
    <mat-card class="overview-card">
      <mat-card-header>
        <img mat-card-image src="" alt="img">
      </mat-card-header>
      <mat-card-content class="card-content">
        <p>
          Analyze your income and expenses and manage your finances properly
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>




<!--Module dashboard component: Overview-->
<!--<div class="overview">-->
<!--  <h2>Overview</h2>-->
<!--  &lt;!&ndash;Module dashboard component: Overview-filter&ndash;&gt;-->
<!--  <mat-card class="overview-card">-->
<!--    <mat-card-title class="overview-title">Filters</mat-card-title>-->
<!--    &lt;!&ndash;Module dashboard component: Filters&ndash;&gt;-->
<!--    <mat-card-content class="filters">-->
<!--      &lt;!&ndash;Card component: Wallet filter&ndash;&gt;-->
<!--      <mat-form-field class="filter-wallet">-->
<!--        <mat-label class="filter-label">Wallet</mat-label>-->
<!--        &lt;!&ndash;Filter component: Select wallet&ndash;&gt;-->
<!--        <mat-select class="input-field">-->
<!--          <mat-option  *ngFor="let wallet of Wallets" [value]="wallet.value">-->
<!--            {{wallet.viewValue}}-->
<!--          </mat-option>-->
<!--        </mat-select>-->
<!--      </mat-form-field>-->
<!--      &lt;!&ndash;End Card component: Wallet filter&ndash;&gt;-->
<!--      &lt;!&ndash;Card component: Start date filter&ndash;&gt;-->
<!--      <mat-form-field class="filter-date">-->
<!--        <mat-label class="filter-label">Start date</mat-label>-->
<!--        &lt;!&ndash;Filter component: Select Start date&ndash;&gt;-->
<!--        <input matInput class="input-field" [matDatepicker]="picker1" [formControl]="date">-->
<!--        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>-->
<!--        <mat-datepicker #picker1></mat-datepicker>-->
<!--      </mat-form-field>-->
<!--      &lt;!&ndash;End Card component: Start date filter&ndash;&gt;-->
<!--      &lt;!&ndash;Card component: End date filter&ndash;&gt;-->
<!--      <mat-form-field class="filter-date">-->
<!--        <mat-label class="filter-label">End date</mat-label>-->
<!--        &lt;!&ndash;Filter component: Select End date&ndash;&gt;-->
<!--        <input matInput class="input-field" [matDatepicker]="picker2" [formControl]="date">-->
<!--        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>-->
<!--        <mat-datepicker #picker2></mat-datepicker>-->
<!--      </mat-form-field>-->
<!--      &lt;!&ndash;End Card component: End date filter&ndash;&gt;-->
<!--    </mat-card-content>-->
<!--    &lt;!&ndash;End Module dashboard component: Filters&ndash;&gt;-->
<!--  </mat-card>-->
<!--  &lt;!&ndash;End Module dashboard component: Overview-filter&ndash;&gt;-->
<!--</div>-->
<!--End Module dashboard component: Overview-->
<!--Module dashboard component: Calculations-->
<!--<div class="calculation">-->
<!--  &lt;!&ndash;Module dashboard component: Calculation-list&ndash;&gt;-->
<!--  <div class="calculation-list">-->
<!--    &lt;!&ndash;Card component: Total balance&ndash;&gt;-->
<!--    <mat-card class="calculation-card">-->
<!--      <mat-card-title class="calculation-title">Total Balance</mat-card-title>-->
<!--      <mat-card-content class="calculate-value">+324234234.00</mat-card-content>-->
<!--    </mat-card>-->
<!--    &lt;!&ndash;End Card component: Total balance&ndash;&gt;-->
<!--    &lt;!&ndash;Card component: Total Period Change&ndash;&gt;-->
<!--    <mat-card class="calculation-card">-->
<!--      <mat-card-title class="calculation-title">Total Period Change</mat-card-title>-->
<!--      <mat-card-content class="calculate-value">+324234234.00</mat-card-content>-->
<!--    </mat-card>-->
<!--    &lt;!&ndash;End Card component: Total Period Change&ndash;&gt;-->
<!--    &lt;!&ndash;Card component: Total Period Expenses&ndash;&gt;-->
<!--    <mat-card class="calculation-card">-->
<!--      <mat-card-title class="calculation-title">Total Period Expenses</mat-card-title>-->
<!--      <mat-card-content class="calculate-value">+324234234.00</mat-card-content>-->
<!--    </mat-card>-->
<!--    &lt;!&ndash;End Card component: Total Period Expenses&ndash;&gt;-->
<!--    &lt;!&ndash;Card component: Total Period Income&ndash;&gt;-->
<!--    <mat-card class="calculation-card">-->
<!--      <mat-card-title class="calculation-title">Total Period Income</mat-card-title>-->
<!--      <mat-card-content class="calculate-value">+324234234.00</mat-card-content>-->
<!--    </mat-card>-->
<!--    &lt;!&ndash;End Card component: Total Period Income&ndash;&gt;-->
<!--  </div>-->
<!--  &lt;!&ndash;End Module dashboard component: Calculation-list&ndash;&gt;-->
<!--</div>-->
<!--End Module dashboard component: Calculations-->
