h2{
  font-size: 3vmin;
}

.overview{
  display: flex;
  padding-top: 6vmin;
  cursor: default;
  user-select: none;
}

.overview-content{
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.overview-card{
  width: 20%;
  box-shadow: 0 4px 12px 0 rgba(48, 82, 120, .12);
  color: #324c5b;
  display: flex;
  align-items: center;
}

.card-content{
  text-align: center;
  font-size: 2vmin;
  margin: auto;
}

.icon-container{
  display: flex;
  align-items: center;
}

.icon-arrow{
  font-size: 10vmin;
}



.icon{
  font-size: 5vmin;
  margin-bottom: 10px;
}


/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {

  //CSS

}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {

  //CSS

}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {

  //CSS

}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

  //CSS

}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 551px) and (max-width: 767px) {

  .overview{
    display: flex;
    padding-top: 16vmin;
  }

}

@media (min-width: 481px) and (max-width: 551px) {

  .overview{
    display: flex;
    padding-top: 20vmin;
  }

}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {

  .overview{
    display: flex;
    padding-top: 27vmin;
  }

  .overview-card{
    width: 90%;
    box-shadow: 0 4px 12px 0 rgba(48, 82, 120, .12);
    color: #324c5b;

  }

  .overview-content{
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .icon-arrow{
    transform: rotate(90deg);
  }

  .icon{
    font-size: 6.5vmin;
    margin-bottom: unset;
  }

  p{
    font-size: 15px;
  }


}
