section{
  width: 100%;
  height: calc(100% - 64px);
  background-color: beige;
}

#container{
  width: 70%;
  min-width: 600px;
  height: 100%;
  margin: 0 auto;
  background-color: azure;
}

.wallets-list{
  display: inline-block;
  width: 90%;
  background-color: lightseagreen;
}

.wallet{
  height: 10vmin;
  width: 22vmin;
}

.wallet-add{
  display: inline-block;
  width: 5%;
  height: 12vmin;
  float: right;
}

.filters{
  display: flex;
  justify-content: space-around;
}
