#toolbar{
  background: white;
  border-bottom: solid 1px #e5ebee;
  box-shadow: 0 4px 8px 0 rgba(48, 82, 120, .03);
}

section{
  width: 100%;
  height: calc(100% - 64px);
  color: #324c5b;
  background: #f4f7fa;
}

h2{
  font-size: 3vmin;
}

#container{
  width: 70%;
  min-width: 600px;
  height: 100%;
  margin: 0 auto;
}

.wallets{
  padding-top: 3vmin;
}

.wallets-list{
  display: inline-block;
  width: 85%;
}

.wallet{
  height: 10vmin;
  width: 22vmin;
  box-shadow: 0 4px 8px 0 rgba(48, 82, 120, .08);
  cursor: pointer;
}

.wallet:hover{
  box-shadow: 0 4px 12px 0 rgba(48, 82, 120, .12);
}

.wallet-title{
  font-size: 2vmin;
  color: #324c5b;
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.wallet-value{
  font-size: 3vmin;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #2dba75;
}

.wallet-add{
  display: inline-block;
  height: 10vmin;
  float: right;
  width: 9%;
  box-shadow: 0 4px 8px 0 rgba(48, 82, 120, .08);
  cursor: pointer;
  color: #12c48b;
}

.add-icon{
  display: block;
  padding-top: 1vmin;
  margin-left: 1vmin;
}

.material-icons{
  font-size: 7vmin;
}

.overview{
  padding-top: 3vmin;
}

.overview-card{
  box-shadow: 0 4px 8px 0 rgba(48, 82, 120, .08);
}

.overview-title{
  font-weight: 600;
  font-size: 2vmin;
  color: #324c5b;
}

.filters{
  display: flex;
  justify-content: space-around;
  padding-top: 1vmin;
}

.input-field{
  font-size: 1.8vmin;
  color: #7b93a4;
}

.filter-label{
  font-size: 1.8vmin;
  color: #7b93a4;
}

.calculation{
  padding-top: 5vmin;
}

.calculation-list{
  display: flex;
  justify-content: space-between;
  overflow-x: auto;
}

.calculation-card{
  height: 5vmin;
  width: 20vmin;
  box-shadow: 0 4px 8px 0 rgba(48, 82, 120, .08);
}

.calculation-title{
  font-size: 1.7vmin;
  color: #324c5b;
  margin-bottom: 0.3em;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.calculate-value{
  line-height: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 2.5vmin;
  color: #2dba75;
}
