#toolbar{
  background: white;
  border-bottom: solid 1px #e5ebee;
  box-shadow: 0 4px 8px 0 rgba(48, 82, 120, .03);
}

a{
  color: #324c5b;
  text-decoration: none;
}

section{
  width: 100%;
  height: calc(100% - 64px);
  color: #324c5b;
  background: #f4f7fa;
}

h2{
  font-size: 3vmin;
}

#container{
  width: 70%;
  min-width: 600px;
  height: 100%;
  margin: 0 auto;
}
