<mat-toolbar>
  MoneyManager
</mat-toolbar>
<section>
  <div id="container">
    <!--Module dashboard component: Wallets-->
    <div>
      <h2>Wallets</h2>
      <!--Module dashboard component: Wallets-->
      <div>
        <!--Module dashboard component: Wallets-list-->
        <div class="wallets-list">
          <!--Module dashboard component: Wallet-->
          <mat-card class="wallet">
            <mat-card-title class="wallet-title">My wallet</mat-card-title>
            <mat-card-subtitle class="wallet-type">Cash</mat-card-subtitle>
            <mat-card-content class="wallet-value">+324234234.00</mat-card-content>
          </mat-card>
          <!--End Module dashboard component: Wallet-->
        </div>
        <!--End Module dashboard component: Wallets-list-->
        <mat-card class="wallet-add">+</mat-card>
      </div>
    </div>
    <!--End Module dashboard component: Wallets-->
    <!--Module dashboard component: Overview-->
    <div>
      <h2>Overview</h2>
      <!--Module dashboard component: Overview-filter-->
      <mat-card>
        <mat-card-title>Filters</mat-card-title>
        <mat-card-content class="filters">
          <mat-form-field class="filter-wallet">
            <mat-label>Favorite food</mat-label>
            <mat-select>
              <mat-option *ngFor="let food of foods" [value]="food.value">
                {{food.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="filter-date">
            <mat-label>Start date</mat-label>
            <input matInput [matDatepicker]="picker1" [formControl]="date">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
          <mat-form-field class="filter-date">
            <mat-label>End date</mat-label>
            <input matInput [matDatepicker]="picker1" [formControl]="date">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
        </mat-card-content>
      </mat-card>
      <!--End Module dashboard component: Overview-filter-->
    </div>
    <!--End Module dashboard component: Wallets-->
  </div>
</section>
