.wallet{
  display: flex;
  height: 14vmin;
  width: 25vmin;
  box-shadow: 0 4px 12px 0 rgba(48, 82, 120, .12);
  cursor: pointer;
  user-select: none;
  flex-direction: column;
}

.wallet:hover{
  box-shadow: 0 4px 8px 0 rgba(48, 82, 120, .2);
}

.wallet-item-header{
  display: flex;
  justify-content: space-between;
}

.wallet-title{
  font-size: 2.5vmin;
  color: #324c5b;
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.wallet-value{
  margin-top: 1.5vmin;
  font-size: 2.5vmin;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@media (min-width: 481px) and (max-width: 767px) {

  .wallet{
    height: 20vmin;
    width: 32vmin;
  }

  .wallet-value{
    margin-top: 4.5vmin;
    font-size: 3.5vmin;
  }

}

@media (min-width: 550px) and (max-width: 631px) {

  .wallet{
    height: 20vmin;
    width: 35vmin;
  }

  .wallet-value{
    margin-top: 4.5vmin;
    font-size: 3.5vmin;
  }

}

@media (min-width: 481px) and (max-width: 551px) {

  .wallet{
    height: 23vmin;
    width: 40vmin;
    margin: 0 0.8vmin;
  }

  .wallet-title{
    font-size: 3.5vmin;
  }

  .wallet-value{
    margin-top: 5vmin;
    font-size: 4.5vmin;
  }

}

@media (min-width: 320px) and (max-width: 480px) {
  .wallet-container{
    width: 100%;
  }

  .wallet{
    height: 25vmin;
    width: 44vmin;
    margin: 0 0.8vmin;
  }

  .wallet-title{
    font-size: 4.5vmin;
  }

  .wallet-type{
    margin-bottom: 1.2vmin;
  }

  .wallet-value{
    margin-top: unset;
    font-size: 5.3vmin;
  }

}
