.wallet{
  display: inline-block;
  height: 13vmin;
  width: 22vmin;
  box-shadow: 0 4px 12px 0 rgba(48, 82, 120, .12);
  cursor: pointer;
}

.wallet:hover{
  box-shadow: 0 4px 8px 0 rgba(48, 82, 120, .2);
}

.wallet-title{
  font-size: 2vmin;
  color: #324c5b;
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.wallet-value{
  font-size: 2.5vmin;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

