<!--Module dashboard component: Wallet-->
<div class="wallet-container">
  <mat-card class="wallet" (click) = "navigate()">
    <div class="wallet-item-header">
      <div>
        <mat-card-title class="wallet-title">{{wallet.title}}</mat-card-title>
        <mat-card-subtitle class="wallet-type">{{wallet.type.name}}</mat-card-subtitle>
      </div>
      <div>
        <button mat-icon-button
                [matMenuTriggerFor]="menu"
                aria-label="Example icon-button with a menu"
                (click)="$event.stopPropagation()">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="walletEdit()">
            <mat-icon>create</mat-icon>
            <span>Edit</span>
          </button>
          <button mat-menu-item (click)="walletDelete()">
            <mat-icon>delete</mat-icon>
            <span>Delete</span>
          </button>
        </mat-menu>
      </div>
    </div>
    <mat-card-content class="wallet-value">
      <mat-icon *ngIf="wallet.balance >= 0" style="color: #2dba75;">
        trending_up
      </mat-icon>
      <mat-icon *ngIf="wallet.balance < 0" style="color: #f14c52;">
        trending_down
      </mat-icon>
      <span *ngIf="wallet.balance >= 0" style="color: #2dba75;">{{wallet.balance}}</span>
      <span *ngIf="wallet.balance < 0" style="color: #f14c52;;">{{wallet.balance}}</span>
      <span> UAH</span>
    </mat-card-content>
  </mat-card>
  <!--End Module dashboard component: Wallet-->
</div>
