<div class="container">
  <mat-card-title>Add a new wallet</mat-card-title>
  <mat-card-subtitle>
    Fill the form to create a new wallet
  </mat-card-subtitle>
  <mat-card-content>
    <form [formGroup]="inputForm" (ngSubmit)="onSubmit()">
      <div>
        <!--Module dashboard component: Filters-->
        <mat-card-content class="filters">
          <!--Card component: Wallet filter-->
          <mat-form-field class="filter">
            <mat-label class="filter-label">Wallet type</mat-label>
            <!--Filter component: Select wallet-->
            <mat-select class="input-field" formControlName="type">
              <mat-option *ngFor="let category of walletTypes" value="{{category.id}}">
                {{category.name}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="inputForm.hasError('required')">
              Email is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <!--End Card component: Wallet filter-->
          <!--Card component: Note filter-->
          <mat-form-field class="filter">
            <mat-label class="filter-label">Name of wallet</mat-label>
            <input matInput type="text" class="input-field" formControlName="title">
          </mat-form-field>
          <!--End Card component: Note filter-->
          <!--Card component: Note filter-->
          <mat-form-field class="filter" id="filter-note">
            <mat-label class="filter-label">Balance</mat-label>
            <input matInput type="text" class="input-field" formControlName="balance" placeholder="0.00">
          </mat-form-field>
          <!--End Card component: Note filter-->
        </mat-card-content>
        <!--End Module dashboard component: Filters-->
      </div>
      <div mat-dialog-actions class="btn-container">
        <button mat-button
                type="submit"
                id="btn-add"
                [mat-dialog-close]="inputForm.value">
          Add
        </button>
        <button mat-button (click)="onNoClick()" id="btn-cancel">Cancel</button>
      </div>
    </form>
  </mat-card-content>
</div>
