.container{
  width: 40vmin;
}

.filters{
  width:100%;
}

.filter{
  width: 100%;
}

.filter-label{
  font-size: 1.8vmin;
  color: #7b93a4;
}

.input-field{
  font-size: 1.8vmin;
}

.btn-container{
  float: right;
}
