.overview{
  padding-top: 3vmin;
}

.overview-card{
  box-shadow: 0 4px 8px 0 rgba(48, 82, 120, .08);
}

.overview-title{
  font-weight: 600;
  font-size: 2vmin;
  color: #324c5b;
}

.filters{
  display: flex;
  justify-content: space-around;
  padding-top: 1vmin;
}

.input-field{
  font-size: 1.8vmin;
  color: #7b93a4;
}

.filter-label{
  font-size: 1.8vmin;
  color: #7b93a4;
}
