<div class="content">
  <div class="create-list">
    <button mat-button class="btn-create" (click)="addList()">
      + Create new shopping list
    </button>
  </div>
  <mat-list role="list" *ngFor="let List of ShoppingList">
    <mat-list-item role="listitem" class="list">
      <mat-grid-list cols="1" rowHeight="20px">
        <div class="header">
          <mat-label>{{List.Name}}</mat-label>
          <div>
            <button mat-button>
              <i class="material-icons" (click)="editList(List.ID)" >edit</i>
            </button>
            <button mat-button>
              <i class="material-icons" (click)="deleteList(List.ID)" >delete</i>
            </button>
          </div>
        </div>
        <div class="footer">
          <mat-progress-bar mode="determinate"></mat-progress-bar>
        </div>
      </mat-grid-list>
    </mat-list-item>
  </mat-list>
</div>
