.user-container{
  display: flex;
}

.user-data{
  padding-top: 5px;
  margin-right: 10px;
  cursor: default;
}

@media (min-width: 320px) and (max-width: 480px)  {
  .user-data{
    font-size: 15px;
    margin-right: unset;
  }
}



