<div class="user-container" *ngIf="(user$ | async) && (user$ | async).id > 0">
  <div class="user-data">
    <span>{{(user$ | async).firstName}}</span>
    <span> {{(user$ | async).lastName}}</span>
  </div>
  <button mat-icon-button [matMenuTriggerFor]="menu"
          aria-label="Example icon-button with a menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="logout()" id="logout">
      <span>Log out</span>
    </button>
  </mat-menu>
</div>
