.wallet-id{
  padding-top: 5vmin;
}

.wallet-add-transaction{
  margin-top: 1vmin;
}

.btn-add-transaction{
  background-color: #12c48b;
  color: #fff;
  box-shadow: 0 4px 4px 0 rgba(17, 195, 139, .2);
  padding: 0.8vmin 2vmin;
  font-size: 1.8vmin;
}

.transaction-filters{
  padding-top: 3vmin;
}

.filter-card{
  box-shadow: 0 4px 12px 0 rgba(48, 82, 120, .12);
}

.filter-title{
  font-weight: 600;
  font-size: 2vmin;
  color: #324c5b;
}

.filters{
  display: flex;
  justify-content: space-around;
  padding-top: 1vmin;
  overflow-x: auto;
}

.filter{
  margin: 0 5px;
}

.input-field{
  font-size: 1.8vmin;
  color: #7b93a4;
}

.filter-label{
  font-size: 1.8vmin;
  color: #7b93a4;
}


.calculation-list{
  display: flex;
  justify-content: space-between;
  overflow-x: auto;
  padding: 10px 0;
}

.calculation-card{
  height: 5vmin;
  width: 20vmin;
  box-shadow: 0 4px 12px 0 rgba(48, 82, 120, .12);
}

.calculation-title{
  font-size: 1.7vmin;
  color: #324c5b;
  margin-bottom: 0.3em;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.calculate-value{
  line-height: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 2.5vmin;
}

.transaction-list{
  //overflow: auto;
}

.transaction-table{
  width: 100%;
  overflow: auto;
  border-radius: 4px;
  box-shadow: 0 4px 12px 0 rgba(48, 82, 120, .12);
  table-layout: fixed;
}

.table-title{
  font-weight: 600;
  font-size: 2vmin;
  color: #324c5b;
}

.amount-column{
  width: 20%;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  font-size: 1.8vmin;
  color: #2dba75;
}

.category-column{
  width: 15%;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.description-column{
  width: 50%;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.date-column{
  width: 10vmin;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

th, td {
  overflow: hidden;
  width:auto;
  text-overflow: ellipsis;
  white-space: nowrap;
}

img{
  width: 20vmin;
}

.no-transactions{
  width: 40vmin;
  text-align: center;
  margin: auto;
  color: #7b93a4;
}

.spinner{
  margin: auto;
}

/*
##Device = Desktops
##Screen = 1281px to higher resolution desktops
               */

@media (min-width: 1281px) {

  .calculation-card{
    width: 20%;
    margin: 0 8px;
  }

}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {

  .calculation-card{
    width: 20%;
    margin: 0 8px;
  }

}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {

  .filter{
    width: 20vmin;
  }
  .calculation-card{
    width: 20%;
    margin: 0 8px;
  }

}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 797px) and (max-width: 1024px) and (orientation: landscape) {

 .filter{
   width: 20vmin;
 }

  .calculation-card{
    width: 20%;
    margin: 0 8px;
  }
}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 739px) and (max-width: 797px) {

  .filter{
    width: 17vmin;
  }

  .calculation-card{
    height: 37px;
  }
}

@media (min-width: 481px) and (max-width: 797px) {
  .wallet-middle-section{
    display: flex;
    margin-bottom: 20px;
  }

  .filter{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 90%;
  }


  .transaction-filters{
    width: 50%;
  }

  .filters{
    display: flex;
    flex-direction: column;
  }

  .calculation{
    width: 50%;
    padding-top: 3vmin;
  }

  .calculation-list{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: unset;
  }

  .calculation-card{
    width: 80%;
    margin: 1px auto 5px;
    text-align: center;
  }

}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {

  .wallet-middle-section{
    display: flex;
    margin-bottom: 20px;
  }

  .transaction-filters{
    width: 60%;
  }
  .filters{
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .input-field{
    font-size: 5vmin;
    color: #7b93a4;
  }

  .filter-label{
    font-size: 5vmin;
    color: #7b93a4;
  }


  .btn-add-transaction{
    width: 100%;
    font-size: 4.8vmin;
  }

  .filter-title{
    font-size: 4vmin;
  }

  .calculation{
    display: flex;
    width: 50%;
    padding-top: 3vmin;
  }

  .calculation-list{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: unset;
  }

  .calculation-card{
    width: 65%;
    margin: 1px auto 5px;
    text-align: center;
    height: 8vmin;
  }

  .calculation-title{
    font-size: 2.8vmin;
  }

  .calculate-value{
    font-size: 4vmin;
  }

}
