<div class="wallet-id">
  <!--Module dashboard component: Add Transaction-->
  <div class="wallet-add-transaction">
    <button mat-button class="btn-add-transaction" (click)="addTransaction()">
      <span class="material-icons">add_circle</span>
      Add transaction
    </button>
  </div>
  <!--End Module dashboard component: Add Transaction-->

  <!--Module dashboard component: Transaction Filters-->
  <div class="transaction-filters">
    <!--Module dashboard component: Overview-filter-->
    <mat-card class="filter-card">
      <mat-card-title class="filter-title">Filters</mat-card-title>
      <!--Module dashboard component: Filters-->
      <mat-card-content class="filters">
        <!--Card component: Wallet filter-->
        <mat-form-field class="filter">
          <mat-label class="filter-label">By category</mat-label>
          <!--Filter component: Select wallet-->
          <mat-select class="input-field">
            <mat-option  *ngFor="let wallet of Wallets" [value]="wallet.value">
              {{wallet.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <!--End Card component: Wallet filter-->
        <!--Card component: Note filter-->
        <mat-form-field class="filter">
          <mat-label class="filter-label">By note</mat-label>
          <input matInput placeholder="Ex. Pizza" class="input-field">
        </mat-form-field>
        <!--End Card component: Note filter-->
        <!--Card component: Start date filter-->
        <mat-form-field class="filter">
          <mat-label class="filter-label">Start date</mat-label>
          <!--Filter component: Select Start date-->
          <input matInput class="input-field" [matDatepicker]="picker1" [formControl]="date">
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
        <!--End Card component: Start date filter-->
        <!--Card component: End date filter-->
        <mat-form-field class="filter">
          <mat-label class="filter-label">End date</mat-label>
          <!--Filter component: Select End date-->
          <input matInput class="input-field" [matDatepicker]="picker2" [formControl]="date">
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
        <!--End Card component: End date filter-->
      </mat-card-content>
      <!--End Module dashboard component: Filters-->
    </mat-card>
    <!--End Module dashboard component: Overview-filter-->
  </div>
  <!--End Module dashboard component: Transaction Filters-->
  <!--Module dashboard component: Calculations-->
  <div class="calculation">
   <!--Module dashboard component: Calculation-list-->
    <div class="calculation-list">
      <!--Card component: Total balance-->
      <mat-card class="calculation-card">
        <mat-card-title class="calculation-title">Total Balance</mat-card-title>
        <mat-card-content class="calculate-value">+324234234.00</mat-card-content>
      </mat-card>
      <!--End Card component: Total balance-->
      <!--Card component: Total Period Change-->
      <mat-card class="calculation-card">
        <mat-card-title class="calculation-title">Total Period Change</mat-card-title>
        <mat-card-content class="calculate-value">+324234234.00</mat-card-content>
      </mat-card>
      <!--End Card component: Total Period Change-->
      <!--Card component: Total Period Expenses-->
      <mat-card class="calculation-card">
        <mat-card-title class="calculation-title">Total Period Expenses</mat-card-title>
        <mat-card-content class="calculate-value">+324234234.00</mat-card-content>
      </mat-card>
      <!--End Card component: Total Period Expenses-->
      <!--Card component: Total Period Income-->
      <mat-card class="calculation-card">
        <mat-card-title class="calculation-title">Total Period Income</mat-card-title>
        <mat-card-content class="calculate-value">+324234234.00</mat-card-content>
      </mat-card>
      <!--End Card component: Total Period Income-->
    </div>
    <!--End Module dashboard component: Calculation-list-->
  </div>
    <!--End Module dashboard component: Calculations-->
 <!--Module dashboard component: Transaction List-->
  <div class="transaction-list">
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 transaction-table">

      <!-- Position Column -->
      <ng-container matColumnDef="amount">
        <th mat-header-cell class="table-title" *matHeaderCellDef mat-sort-header> Amount </th>
        <div class="amount-column">
          <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
        </div>
      </ng-container>

     <!-- Name Column -->
      <ng-container matColumnDef="category" >
        <th mat-header-cell class="table-title" *matHeaderCellDef mat-sort-header> Category </th>
        <div class="category-column">
          <td mat-cell *matCellDef="let element"> {{element.category}} </td>
        </div>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="description">
        <th mat-header-cell class="table-title" *matHeaderCellDef  mat-sort-header > Description </th>
        <div class="description-column">
          <td mat-cell *matCellDef="let element" > {{element.description}} </td>
        </div>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="date" class="info-column">
        <th mat-header-cell class="table-title" *matHeaderCellDef mat-sort-header > Date </th>
        <div class="date-column">
          <td mat-cell id="date"  *matCellDef="let element" > {{element.date}} </td>
        </div>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <!--End Module dashboard component: Transaction List-->
</div>

