<!--Module dashboard component: Wallets-->
<div class="wallets">
  <h2>Wallets</h2>
  <!--Module dashboard component: Wallets-->
  <div class="wallets-container">
    <!--Module dashboard component: Wallets-list-->
    <div class="wallets-list">
      <!--Module dashboard component: Wallet-->
      <div  class="wallet-items" *ngFor="let wallet of walletList | async">
        <app-wallet-list-item [wallet]="wallet"></app-wallet-list-item>
      </div>
      <!--End Module dashboard component: Wallet-->
    </div>
    <!--End Module dashboard component: Wallets-list-->
    <div class="wallet-add">
      <button mat-raised-button class="btn-add-wallet">
        <span class="material-icons">
          add_box
        </span>
      </button>
    </div>

  </div>
</div>
<!--End Module dashboard component: Wallets-->
