h2{
  font-size: 3vmin;
}

.wallets{
  padding-top: 3vmin;
  cursor: default;
  user-select: none;
}

.wallets-container{
  display: flex;
  flex-wrap: nowrap;
  height: 20vmin;
}

//all displays are flex. Wallets-list with *flex-wrap* + overflow-x
.wallets-list{
  display: flex;
  width: 75%;
  overflow: hidden;
  padding: 1vmin 0;
}

.wallet-items{
  display: inline-block;
  margin: 0 0.5vmin;
}


.wallet-add{
  display: flex;
  width: 11%;
  padding: 10px 0;
}

.btn-add-wallet{
  width: 18vmin;
  box-shadow: 0 4px 12px 0 rgba(48, 82, 120, .12);
  cursor: pointer;
  color: #12c48b;
}

.material-icons{

  font-size: 5vmin;
}

.right-arrow-btn{
  box-shadow: -7px 0px 8px -8px rgba(0,0,0,0.55);
}

.left-arrow-btn{
  box-shadow: 7px 0px 8px -8px rgba(0,0,0,0.55);
}

/*
##Device = Desktops
##Screen = 1281px to higher resolution desktops
               */

@media (min-width: 1281px) {

  //CSS

}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {

  //CSS

}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {

  //CSS

}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

  //CSS

}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

  //CSS

}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {


}
