<!--Module dashboard component: Wallets-->
<div class="wallets">
  <h2>Wallets</h2>
  <!--Module dashboard component: Wallets-->
  <div>
    <!--Module dashboard component: Wallets-list-->
    <div class="wallets-list">
      <!--Module dashboard component: Wallet-->
      <div  class="wallet-items" *ngFor="let wallet of walletList">
        <app-wallet-list-item [wallet]="wallet"></app-wallet-list-item>
      </div>
      <!--End Module dashboard component: Wallet-->
    </div>
    <!--End Module dashboard component: Wallets-list-->
    <mat-card class="wallet-add">
      <mat-icon class="add-icon">
        <span class="material-icons">add_box</span>
      </mat-icon>
    </mat-card>
  </div>
</div>
<!--End Module dashboard component: Wallets-->
