h2{
  font-size: 3vmin;
}

.wallets{
  padding-top: 3vmin;
  cursor: default;
}

.wallets-container{
  display: flex;
  flex-wrap: nowrap;
  height: 20vmin;
}

//all displays are flex. Wallets-list with *flex-wrap* + overflow-x
.wallets-list{
  display: flex;
  width: 75%;
  overflow: hidden;
  padding: 1vmin 0;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.wallet-items{
  display: inline-block;
  margin: 0 0.5vmin;
}

.wallet-add{
  display: flex;
  width: 11%;
  padding: 10px 0;
}

.btn-add-wallet{
  width: 18vmin;
  box-shadow: 0 4px 12px 0 rgba(48, 82, 120, .12);
  cursor: pointer;
  color: #12c48b;
}

.material-icons{

  font-size: 5vmin;
}
