h2{
  font-size: 3vmin;
}

.wallets{
  padding-top: 3vmin;
}

//all displays are flex. Wallets-list with *flex-wrap* + overflow-x
.wallets-list{
  display: inline-block;
  width: 85%;
  //overflow-x: auto;
}

.wallet-items{
  display: inline-block;
  margin-right: 1vmin;
}

.wallet-add{
  display: inline-block;
  height: 10vmin;
  float: right;
  width: 9%;
  box-shadow: 0 4px 8px 0 rgba(48, 82, 120, .08);
  cursor: pointer;
  color: #12c48b;
}

.add-icon{
  display: block;
  padding-top: 1vmin;
  margin-left: 1vmin;
}

.material-icons{
  font-size: 7vmin;
}
