.trans-list-content{
  width: 100%;
  display: flex;
  cursor: default;
  user-select: none;
  color: #324c5b;
  font-weight: 400;
}
.trans-list-amount{
  width: 20%;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  font-weight: 500;
}


.trans-list-category {
  width: 20%;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}



.trans-list-description {
  width: 37%;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.trans-list-date{
  width: 15%;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.trans-btn{
  display: flex;
  width: 8%;
  justify-content: space-between;
  color: rgba(0,0,0,.54);

  .trans-list-edit{
    cursor: pointer;
    user-select: none;
  }
  .trans-list-delete{
    cursor: pointer;
    user-select: none;
  }

}
@media (min-width: 481px) and (max-width: 680px) {



  .trans-btn{
    width: 13%;
  }

  .trans-list-edit{
    font-size: 4vmin;
  }

  .trans-list-delete{
    font-size: 4vmin;
  }

  .trans-list-content{
    display: flex;
    width: 100%;
    font-size: 2.8vmin;
    justify-content: space-between;
  }

  .trans-list-amount{
    width: 20%;
    font-weight: 500;
  }


  .trans-list-category {
    width: 20%;
  }



  .trans-list-description {
    width: 20%;
  }

  .trans-list-date{
    width: 10%;
  }


}

@media (min-width: 320px) and (max-width: 480px) {



  .card-header{
    width: 85%;
    font-size: 3.5vmin;
    padding: unset;
    margin: 3px;
  }

  .trans-btn{
    width: 13%;
  }

  .trans-list-edit{
    font-size: 5vmin;
  }

  .trans-list-delete{
    font-size: 5vmin;
  }

  .trans-list-content{
    display: flex;
    width: 100%;
    font-size: 3vmin;
    justify-content: space-between;
  }

  .trans-list-amount{
    width: 20%;
    font-weight: 500;
  }


  .trans-list-category {
    width: 20%;
  }



  .trans-list-description {
    width: 20%;
  }

  .trans-list-date{
    width: 10%;
  }


}

