.trans-list-content{
  width: 100%;
  display: flex;
  cursor: default;
  user-select: none;
  color: #324c5b;
  font-weight: 400;
}
.trans-list-amount{
  width: 20%;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  font-weight: 500;
}


.trans-list-category {
  width: 20%;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}



.trans-list-description {
  width: 37%;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.trans-list-date{
  width: 15%;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.trans-btn{
  display: flex;
  width: 8%;
  justify-content: space-between;
  color: rgba(0,0,0,.54);

  .trans-list-edit{
    cursor: pointer;
    user-select: none;
  }
  .trans-list-delete{
    cursor: pointer;
    user-select: none;
  }

}
