.transaction-card{
  box-shadow: 0 4px 12px 0 rgba(48, 82, 120, .12);
  cursor: default;
  user-select: none;
}

.card-header{
  display: flex;
  padding: 0 16px 15px;
  width: 100%;
  font-weight: 500;
  font-size: 2vmin;
  color: #324c5b;
}

.amount-column{
  width: 19%;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}


.category-column {
  display: flex;
  width: 20%;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  align-self: center;
}

.description-column {
  display: flex;
  width: 35%;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  align-self: center;
}

.date-column{
  width: 20%;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.list{
  max-height: 25vmin;
  overflow-y: auto;
}

.list-item{
  width: 100%;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.spinner{
  margin: auto;
}

@media (min-width: 481px) and (max-width: 680px) {

  .card-header{
    width: 85%;
    font-size: 2.5vmin;
    padding: unset;
    margin: 3px;
    justify-content: space-between;
  }

  .mat-icon{
    font-size: 4vmin;
  }

  .amount-column{
    width: unset;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
  }


  .category-column {
    display: flex;
    width: unset;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    align-self: center;
  }

  .description-column {
    display: flex;
    width: unset;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    align-self: center;
  }

  .date-column{
    width: unset;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
  }
}


@media (min-width: 320px) and (max-width: 480px) {

  .card-header{
    width: 85%;
    font-size: 3.5vmin;
    padding: unset;
    margin: 3px;
    justify-content: space-between;
  }
  .icon{
    width: 20px;
  }

  .mat-icon{
    font-size: 6vmin;
  }

  .amount-column{
    width: unset;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
  }


  .category-column {
    display: flex;
    width: unset;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    align-self: center;
  }

  .description-column {
    display: flex;
    width: unset;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    align-self: center;
  }

  .date-column{
    width: unset;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
  }

  .list{
    max-height: 50vmin;
    overflow-y: auto;
  }
}
