.image{
  width: 100%;
  max-width: 100px;
  opacity: 0.5;
}

.content{
  margin-top: 100px;
  text-align: center;
  color: rgba(0,0,0,.54);
}

h2{
  margin-top: 25px;
}

button{
  margin-top: 25px;
  height: 60px;
  width: 150px;
  font-size: 17px;
}
